body {
  margin: 0px;
  font-family: "Crimson Text", serif;
  text-align: center;
  font-size: 1.25rem;
  background-color: #e4e3e3;
  line-height: 2;
}

h1 {
  color: #ee6f57;
  margin-top: 0px;
  font-size: 6rem;
  font-family: "Amatic SC", cursive;
}

h2 {
  color: #ee6f57;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

h3 {
  color: #ee6f57;
  font-family: "Roboto", sans-serif;
}

.main-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.image-group {
  border-radius: 100%;
  height: 200px;
}

.left-image-container {
  float: left;
  width: 30%;
  vertical-align: middle;
}

.left-text-container {
  width: 60%;
  display: inline-block;
  text-align: left;
  margin-left: 30px;
}

.right-image-container {
  float: right;
  width: 30%;
  vertical-align: middle;
}

.right-text-container {
  width: 60%;
  display: inline-block;
  text-align: left;
  margin-right: 20px;
}

.article-container {
  padding: 40px 0;
  box-shadow: 8px 6px 4px 2px rgba(0, 0, 0, 0.2);
  margin: 100px 0;
}

.intro-image {
  float: left;
  border-radius: 100%;
  height: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 50px;
}

.intro-text {
  text-align: left;
  padding-top: 40px;
}

.intro {
  margin-top: 50px;
  margin-bottom: 100px;
}

hr {
  border-width: 10px 0 0;
  border-style: dotted;
  width: 100px;
  border-color: lightgray;
}

.input-label {
  font-family: "Crimson Text", serif;
  font-size: 1.5rem;
  color: #00334e;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.input-text {
  width: 100%;
  background: 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: black;
  line-height: 1.2;
  padding: 0 5px;
  border: none;
  height: 40px;
  border-bottom: 2px solid #ee6f57;
  outline: none;
}

.input-message {
  min-height: 100px;
  padding: 5px;
  display: block;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: black;
  line-height: 1.2;
  border: none;
  border-bottom: 2px solid #ee6f57;
  margin: 30px 0;
  background: 0px 0px;
  outline: none;
}

.btn {
  padding: 0, 10px;
  min-width: 120px;
  height: 50px;
  background-color: #ee6f57;
  border-radius: 10%;
  font-family: "Crimson Text", serif;
  font-size: 1.5rem;
  color: #fff;
  line-height: 1.5;
  border: none;
  margin: 20px, 0;
}

.input-fields {
  width: 40%;
  display: inline-block;
  margin: 20px;
}

.message-box {
  width: 90%;
  margin: 30px auto;
}

.contact-img {
  border-radius: 10%;
  height: 200px;
}

.contact-text {
  display: inline-block;
}
